/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus {
    outline: none;
}

pre, code {
    width: 100%;
    color: #222;
    background-color: #fff;

    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;



}

pre {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    overflow: auto;
}

code {
    padding: 3px;
    margin: 0 3px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
    display: block;
    box-shadow: none;
}

blockquote {
    color: #666;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    border-left: 3px solid #bbb;
}



dl dt {
    font-weight: bold;
}

dl dd {
    padding-left: 20px;
    font-style: italic;
}

dl p {
    padding-left: 20px;
    font-style: italic;
}

hr {
    height: 1px;
    margin-bottom: 5px;
    border: none;
    background: url('../images/bg_hr.png') repeat-x center;
}

table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align: left;
}

th {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px;
    background: #373737;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #373737;
}

form {
    background: #f2f2f2;
    padding: 20px;
}

img {
    width: 100%;
    max-width: 100%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

.spot_wrap{background:#000000;position:relative;height:400px;overflow:hidden}

.spot_wrap .spot_pic{position:absolute;top:0;left:0;width:100%;height:100%;z-index:10}
.spot_wrap .spot_pic .spot_slider_lst > li{overflow:hidden}
.spot_wrap .spot_pic img{position:relative}

.spot{height:400px;z-index:20}



/* Layout */
.p_sns_area{position:absolute;top:120px;right:0;text-align:center}
.side_tit{width:100%;margin-bottom:26px;text-align:center}
.side_tit h2{font-size:20px}
.content_area{width:100%}
.content_area.brt{border-top:1px solid #ececec}
.ng{font-family:ng}
.av55{letter-spacing:0 !important}
.blue{color:#00abf0 !important}
.a_blue{color:#096ae1 !important;text-decoration:underline !important}
.a_blue2{color:#00adee !important;text-decoration:underline !important}
.bu_type1{padding-right:10px;background:url(/images/2014/sp_bu.png) no-repeat 100% -78px;color:#126adf !important}
.fw_n{font-weight:normal !important}
.ta_c{text-align:center}
.p_dn{display:block}
.p_ib{display:inline-block}
.tx_op{margin-bottom:14px;font-size:14px;font-weight:bold}
.pos_r{position:relative}
.pos_a{position:absolute;right:0;top:40%}
.about_ct .section{text-align:center}
.about_ct #content{margin:0}
.plr{padding:0 15px}
.wrap_apply .side_tit h2{display:none}

/* 행사안내 */
.about_ct .plr{padding-left:2.35%;padding-right:2.35%}
.about_ct #content{margin-top:60px}
.about_ct .side_tit h2{font-size:29px}
.about_ct .txt_dl dt{margin-bottom:45px;padding:0 8%;font-size:26px}
.about_ct .txt_dl dt em{font-size:19px}
.about_ct .txt_dl dd{padding:0 9%;font-size:17px}
.about_ct .lab_txt2 h3{font-size:25px}
.about_ct .lab_txt2 p{font-size:17px}
.about_ct .tx_type.v2{font-size:20px}
.about_ct .transit_txt.v2.mb45{margin-bottom:20px}

/* 공통 */
*{-webkit-text-size-adjust:none;}
.ml15{margin-left:15px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb18{margin-bottom:18px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb38{margin-bottom:38px}
.mb45{margin-bottom:45px}
.mb48{margin-bottom:48px}
.mb52{margin-bottom:52px}
.mb60{margin-bottom:60px}
.mb67{margin-bottom:67px}
.mb98{margin-bottom:98px}
.mb140{margin-bottom:140px}
.mt20{margin-top:20px}
.mt52{margin-top:52px}
.mt69{margin-top:69px}
.mt73{margin-top:73px}
.mr10{margin-right:10px}


/* 타이틀 */
.txt_h3{font-size:20px}
.txt_h3.v2{font-size:14px}
.tit_h4{font-size:15px}
.tit_h4.v2{font-size:24px}
.tit_m h3{margin-bottom:15px}
.tit_m span{display:block}
.tit_dib span{display:inline}
.wrap_apply .tit_h4{text-align:center}
